<div layout="column" ng-cloak ng-init="vm.$onInit()">
    <md-content>
        <form name="projectForm" style="min-width:500px;" class="form"
              ng-submit="projectForm.$valid && vm.submit()" novalidate>
            <md-toolbar class="md-default">
                <div class="md-toolbar-tools">
                    <h2>{{vm.title}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button md-primary" ng-click="vm.cancel()">
                        <md-icon  aria-label="Close dialog">
                            <i class="iconfont icon-delete2"></i>
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label class="required">域名</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block">
                        <input required name="domainName"  aria-label="domainName" ng-model="vm.domain.domainName">
                        <div ng-messages="projectForm.domainName.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label>是否安全防护</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block radio">
                        <md-radio-group ng-model="vm.domain.isSecurity">
                            <md-radio-button value="YES"  class="md-primary">是</md-radio-button>
                            <md-radio-button value="NO" class="md-primary">否</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label>后端 IP 列表</label>
                </div>

                <div flex="30">
                    <md-input-container class="md-block">
                        <input required name="backendIp"  aria-label="backendIp" ng-model="vm.domain.backendIp">
                    </md-input-container>
                </div>

                <div flex="20">
                    <md-input-container class="md-block">
                        <input required name="number"  aria-label="number" ng-model="vm.domain.munber">
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container class="md-block">
                        <md-button class="md-icon-button md-primary" aria-label="edit" style="width: 20px; height: 20px; line-height: 20px; margin-top: 0;">
                            +
                        </md-button>

                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container class="md-block">
                        <md-button class="md-icon-button md-primary" aria-label="edit" style="width: 20px; height: 20px; line-height: 20px; margin-top: 0;">
                            -
                        </md-button>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label></label>
                </div>

                <div flex="30">
                    <md-input-container class="md-block">
                        <input required name="ip"  aria-label="ip" ng-model="vm.domain.backendIP">
                    </md-input-container>
                </div>

                <div flex="20">
                    <md-input-container class="md-block">
                        <input required name="number"  aria-label="number" ng-model="vm.domain.munber">
                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container class="md-block">
                        <md-button class="md-icon-button md-primary" aria-label="edit" style="width: 20px; height: 20px; line-height: 20px; margin-top: 0;">
                            +
                        </md-button>

                    </md-input-container>
                </div>

                <div flex="">
                    <md-input-container class="md-block">
                        <md-button class="md-icon-button md-primary" aria-label="edit" style="width: 20px; height: 20px; line-height: 20px; margin-top: 0;">
                            -
                        </md-button>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label class="required">负载均衡策略</label>
                </div>
                <div flex="55">
                    <md-input-container class="md-block">
                        <md-select name="loadbalPolicy" ng-model="vm.domain.loadbalPolicy">
                            <md-option value="PLOOING">轮询</md-option>
                            <md-option value="ADDR">source_addr保持</md-option>
                            <md-option value="COOKIE">cookie保持</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label class="required">所属引擎组</label>
                </div>
                <div flex="55">
                    <md-input-container class="md-block">
                        <label>default</label>
                        <input required name="engGrpId"  aria-label="engGrpId" ng-model="vm.domain.engGrpId">
                        <!--<md-select name="engGrpId" ng-model="vm.domain.engGrpId">
                            <md-option value="">default</md-option>
                        </md-select>-->
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label class="required">域名创建平台</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block">
                        <md-select name="engGrpId" ng-model="vm.domain.platform">
                            <md-option value="WAF">WAF平台</md-option>
                            <md-option value="YUN">云平台</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-primary md-ok" type="submit">
                    保 存
                </md-button>
                <md-button class="md-default md-cancel" ng-click="vm.cancel()">
                    取 消
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>
</div>