<div layout="column">
<md-content>
    <md-card md-theme="default" flex="100">
        <md-subheader class="md-no-sticky">
            正则条件
        </md-subheader>
        <div>
            <div layout="row" layout-wrap>
                <div flex="100" class="label-text">
                    <label style="width: 90px; display: inline-block;">检测区域：</label>
                    <md-checkbox  aria-label="Disabled checkbox" ng-model="cb3">
                        Che
                    </md-checkbox>
                    <!--<md-input-container flex="none" style="width: 60px;">

                        <input type="checkbox"
                               style="width: 15px; height: 15px; color: #3F51B5; vertical-align: middle;"> url
                    </md-input-container>

                    <md-input-container flex="none" style="width: 60px;">
                        <input type="checkbox"
                               style="width: 15px; height: 15px; color: #3F51B5; vertical-align: middle;"> ip
                    </md-input-container>

                    <md-input-container flex="none" style="width: 100px;">
                        <input type="checkbox"
                               style="width: 15px; height: 15px; color: #3F51B5; vertical-align: middle;"> 请求方法
                    </md-input-container>

                    <md-input-container flex="none" style="width: 60px;">
                        <input type="checkbox"
                               style="width: 15px; height: 15px; color: #3F51B5; vertical-align: middle;"> 协议
                    </md-input-container>

                    <md-input-container flex="none" style="width: 100px;">
                        <input type="checkbox"
                               style="width: 15px; height: 15px; color: #3F51B5; vertical-align: middle;"> 返回码
                    </md-input-container>-->
                </div>
            </div>

            <!--<div class="row" layout-wrap>
                <div flex="100" class="label-text">
                    <label style="opacity: 0;width: 90px; display: inline-block;">检测区域：</label>
                    <md-input-container flex="none" style="width: 100px;">
                        <input type="checkbox"
                               style="width: 15px; height: 15px; color: #3F51B5; vertical-align: middle;"> body
                    </md-input-container>
                </div>
            </div>
            <div class="row" layout-wrap>
                <div flex="100" class="label-text">
                    <label style="opacity: 0;width: 90px; display: inline-block;">检测区域：</label>
                    <md-input-container flex="none" style="width: 100px;">
                        <input type="checkbox"
                               style="width: 15px; height: 15px; color: #3F51B5; vertical-align: middle;"> 参数
                    </md-input-container>
                </div>
            </div>

            <div class="row" layout-wrap>
                <div flex="100" class="label-text">
                    <label style="opacity: 0;width: 90px; display: inline-block;">检测区域：</label>
                    <md-input-container flex="none" style="width: 100px;">
                        <input type="checkbox"
                               style="width: 15px; height: 15px; color: #3F51B5; vertical-align: middle;"> 头部
                    </md-input-container>
                </div>
            </div>

            <div class="row" layout-wrap>
                <div flex="100" class="label-text">
                    <label style="width: 90px; display: inline-block;">Negative：</label>
                    <md-input-container class="none radio">
                        <md-switch ng-model="vm.domain.waf" aria-label="waf" ng-true-value="'enabled'" ng-false-value="'disabled'" class="md-warn">
                            {{ vm.domain.waf=='enabled' ? '开启':'关闭' }}
                        </md-switch>
                    </md-input-container>
                </div>
            </div>
            <div class="row" layout-wrap>
                <div flex="100" class="label-text" style="padding-bottom: 10px;">
                    <label style="width: 90px; display: inline-block;">正则表达式：</label>
                    <md-input-container flex="none">
                        <textarea ng-model="rule.description" aria-label="description"
                        style="border: 0; border-bottom: 1px solid #ccc; width: 340px; outline: none;">

                        </textarea>
                    </md-input-container>
                </div>
            </div>-->
        </div>
    </md-card>
</md-content>
</div>