<div layout="column" ng-cloak ng-init="vm.$onInit()">
    <md-content>
        <form name="projectForm" style="min-width:500px;" class="form"
              ng-submit="projectForm.$valid && vm.submit()" novalidate>
            <md-toolbar class="md-default">
                <div class="md-toolbar-tools">
                    <h2>{{vm.title}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button md-primary" ng-click="vm.cancel()">
                        <md-icon aria-label="Close dialog">
                            <i class="iconfont icon-delete2"></i>
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div layout="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label class="required">IP掩码</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block radio">
                       <textarea ng-model="vm.bwList.uuid" aria-label="uuid">

                       </textarea>
                    </md-input-container>
                </div>
            </div>

            <div layout-gt-xs="row" layout-wrap>
                <div flex="30" class="label-text">
                    <label class="required">过期时间</label>
                </div>
                <div flex="66">
                    <md-input-container class="md-block">
                        <div flex-gt-xs>
                            <md-datepicker ng-model="vm.time" md-placeholder="操作时间"></md-datepicker>
                        </div>
                        <!--<input ng-model="vm.bwList.expireTime" aria-label="expireTime">-->

                    </md-input-container>
                </div>
            </div>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-primary md-ok" type="submit">
                    保 存
                </md-button>
                <md-button class="md-default md-cancel" ng-click="vm.cancel()">
                    取 消
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>
</div>


