<div layout="column" ng-cloak ng-init="vm.$onInit()">
    <md-content>
        <form name="projectForm" style="min-width:500px;" class="form"
              ng-submit="projectForm.$valid && vm.submit()" novalidate>
            <md-toolbar class="md-default">
                <div class="md-toolbar-tools">
                    <h2>{{vm.title}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button md-primary" ng-click="vm.cancel()">
                        <md-icon aria-label="Close dialog">
                            <i class="iconfont icon-delete2"></i>
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <div layout="row" layout-wrap>
                <div flex="35" class="label-text">
                    <label class="required">引擎组名</label>
                </div>
                <div flex="60">
                    <md-input-container class="md-block">
                        <input required name="engGrpName" aria-label="engGrpName" ng-model="vm.business.engGrpName">
                        <div ng-messages="projectForm.engGrpName.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-wrap>
                <div flex="35" class="label-text">
                    <label>是否开启安全防护</label>
                </div>
                <div flex="60">
                    <md-input-container class="md-block radio">
                        <md-radio-group ng-model="vm.business.isSecurity">
                            <md-radio-button value="YES"  class="md-primary">是</md-radio-button>
                            <md-radio-button value="NO" class="md-primary">否</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
            </div>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-primary md-ok" type="submit">
                    保 存
                </md-button>
                <md-button class="md-default md-cancel" ng-click="vm.cancel()">
                    取 消
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>
</div>
