<style>
    md-checkbox.md-checked .md-icon{
        background-color: #004994;
    }
</style>
<md-content layout="column" flex>
    <md-card class="search-section">
        <form>
            <div layout="row">
                <md-input-container flex="none">
                    <label>用户名</label>
                    <input name="clientName" ng-model="user.search.name">
                </md-input-container>
                <md-input-container flex="none" class="search-container">
                    <a class="md-primary btn-operator btn-lg" ng-click="user.searchData()">
                        <i class="iconfont icon-search"></i>
                        查询
                    </a>
                </md-input-container>
            </div>
        </form>
    </md-card>

    <!-- 管理员用户管理 -->

    <md-card class="table-section">
        <md-toolbar class="md-table-toolbar md-default"
                    ng-hide="user.options.rowSelection && user.selected.length">
            <div class="md-toolbar-tools">
                <span>管理员用户管理</span>
                <a class="md-primary btn-operator"
                   ng-click="user.showDialog($event)">
                    新 增
                </a>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="user.refresh()">
                    <i class="iconfont icon-refresh" aria-hidden="true"></i>
                    <md-tooltip md-direction="bottom">刷新</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <!-- <md-toolbar class="md-table-toolbar alternate"
                    ng-show="user.options.rowSelection && user.selected.length">
            <div class="md-toolbar-tools">
                <span>选择了{{user.selected.length}}条记录</span>
                <div flex></div>
                <span class="batch-operator">
                    <label>批量操作</label>
                <md-input-container flex="none">
                    <md-select ng-model="role.batch_operator" ng-change="role.batch_handle()"
                               style="min-width: 96px" placeholder="请选择">
                        <md-option value="Determine">确定</md-option>
                        <md-option value="cancel">取消</md-option>
                        <md-option value="enabled">启用</md-option>
                        <md-option value="disabled">禁用</md-option>
                    </md-select>
                </md-input-container>
                </span>
            </div>
        </md-toolbar> -->

        <md-table-container>
            <table md-table
                   md-row-select="user.options.rowSelection"
                   multiple="{{user.options.multiSelect}}"
                   ng-model="user.selected"
                   md-progress="user.promise">
                <thead ng-if="!user.options.decapitate" md-head md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column><span>用户名</span></th>
                    <th md-column><span>姓名</span></th>
                    <th md-column><span>角色</span></th>
                    <th md-column><span>所属公司</span></th>
                    <th md-column><span>所属部门</span></th>
                    <th md-column><span>Email</span></th>
                    <th md-column><span>手机</span></th>
                    <th md-column><span>操作</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    md-select="dessert"
                    md-on-select="logItem"
                    ng-repeat="dessert in user.desserts.data | limitTo: user.query.limit : (user.query.page -1) * user.query.limit">
                    <td md-cell>{{dessert.name}}</td>
                    <td md-cell>{{dessert.firstName}}</td>
                    <td md-cell>{{dessert.bsAdjective}}</td>
                    <td md-cell>{{dessert.companyName}}</td>
                    <td md-cell>{{dessert.catchPhraseAdjective}}</td>
                    <td md-cell>{{dessert.email}}</td>
                    <td md-cell>{{dessert.iphone}}</td>
                    <td md-cell class="md-table-operator">
                        <md-button class="md-icon-button" aria-label="edit"
                                   ng-click="user.showDialog($event,dessert)">
                            <i class="iconfont icon-edit" aria-hidden="true"></i>
                            <md-tooltip md-direction="bottom">修改</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="delete"
                                   ng-click="user.deleteRecord($event,dessert.id)">
                            <i class="iconfont icon-remove" aria-hidden="true"></i>
                            <md-tooltip md-direction="bottom">删除</md-tooltip>
                        </md-button>
                    </td>
                </tr>
                <tr ng-if="user.desserts.data.length === 0">
                    <td colspan="7">
                        <div class="empty-tips">
                            <i class="iconfont icon-no"></i>
                            <label>没有查询到数据！</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination
                md-label="{page: '当前页数:', rowsPerPage: '每页:', of: '/'}"
                md-limit="user.query.limit" md-limit-options="user.limitOptions"
                md-page="user.query.page"
                md-total="{{user.desserts.count}}" md-page-select="user.options.pageSelect"
                md-boundary-links="user.options.boundaryLinks"
                md-on-paginate="user.logPagination"></md-table-pagination>
    </md-card>
</md-content>

